.root {
  display: flex;
  background-color: #ffffff;
  padding: 12px;
  border-radius: 9999px;
  border-width: 0px;
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.root:focus {
  outline: none;
}
