.root {
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 0.4rem;
  border-width: 0.1rem;
  border-color: #F0EDED;
  border-style: solid;
  background-color: #ffffff;
  resize: none;
}

.root:focus {
  outline: none;
}
