.root {
  background-color: #f8f8f8;
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
}

.leftSection {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.8rem;
}

.rightSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FCAC4D;
  padding-bottom: 1.8rem;
}

.actionArea {
  display: flex;
  align-items: center;
  padding-top: 1.8rem;
}

.topContent {
  width: 70%;
}

.screenshot {
  width: 50%;
  border-radius: 3rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.titleTextWrapper {
  padding-bottom: 2.2rem
}

.subtitleTextWrapper {
  padding-bottom: 0.8rem
}

.lineButtonWrapper {
  padding-right: 1.6rem;
}

.copyrightTextWrapper {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}

.lineiconWrapper {
  padding-right: 0.4rem;
}

.lineicon {
  height: 1.3rem;
}

.copyrightText {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 0.7rem;
  font-weight: 400;
}

.titleText {
  color: #404040;
  font-size: 4rem;
  font-weight: 600;
}

.subtitleText {
  color: #404040;
  font-size: 1.1rem;
  font-weight: 100;
}

.buttonText {
  font-size: 1.1rem;
  /* font-weight: 400; */
  color: #ffffff;
}
